{% extends "main/base.html" %}
{% block title %}
Login
{% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav %}
                  {% if response.user.is_authenticated %}
                    <li class="ms-2 nav-item btn btn-secondary p-0 dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if logged_in_user.avatar %}
                          <img class="border rounded-circle" src="{{logged_in_user.avatar.url}}" style="height:20px; width: 20px; object-fit: cover; object-position: center;"/>
                        {% else %}
                          <img class="border rounded-circle" src="{% static 'img/avatar_default.jpg' %}" style="height:20px; width: 20px; object-fit: cover; object-position: center;"/>
                        {% endif %}
                        {{response.user.username}}
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark">
                        <li>
                          <a class="dropdown-item" href="/profile/{{response.user.username}}">
                            Profile
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item " href="/logout">
                            Logout
                          </a>
                        </li>
                      </ul>
                    </li>
                  {% else %}
                  {% endif %}
                {% endblock %}

{% block content %}

    <section class="bg-light" style="
    background-position: center;
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/3184358/pexels-photo-3184358.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260');
">
    <div class="p-2 py-md-3 py-lg-5" style="background: #00000099;">
        <div class="container p-2 py-md-3 py-lg-4">
        
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6 p-2 p-lg-5">
                    <h1 class="display-3 text-white">Easy, fast digital resumé</h1>
                    <p class="lead fs-4 text-white-50">Create your profile. Easily share your resume. Discover new job opportunities</p>
                                    
                                </div>
                <div class="col-12 col-md-8 col-lg-8 col-xl-6 p-2 p-lg-5">
                    <div class="card p-3 p-lg-5 shadow-lg">
                        <div class="card-body">
                          <h3 class="card-title fw-bold pb-3 border-bottom">Login</h3>
                          <form method="POST" class="form-group mt-4">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-success d-block w-100 mt-4">Login</button>
                            
                        </form>
                        <a href="/register" class="text-decoration-none"><button class="btn btn-outline-dark d-block w-100 mt-2">Register</button></a>

                        </div>
                    </div>
                </div>
            </div>

    </div>
    </div>
    </section>
{% endblock %}