{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <title>{{user.username}}'s Profile</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="{% static 'user/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- FontAwesome -->
    <script src="{% static 'user/js/f6b6fe44c9.js' %}"></script>
    <!-- jQuery -->
    <script src="{% static 'user/js/jquery-3.5.0.js' %}"></script>
    <!-- Animate on scroll CSS-->
    <link href="{% static 'user/css/aos.css' %}" rel="stylesheet">
    <!-- Custom CSS-->
    <link href="{% static 'user/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'user/css/hover-min.css' %}" rel="stylesheet">
    
    <!-- Masonry-->
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Poppins"  rel="stylesheet">
    <style>
      body {
        font-family: 'Poppins',sans-serif;
      }
      .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #6c757d;
}
.nav-pills .nav-link {
    color: #6c757d;
}
    </style>
  </head>

  <body>
    <section class="bg-dark p-1 position-sticky">
      <div class="container bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><h3><span class="text-{{user.profile_color}} fw-bold">ozgecm</span><span class="">iş</span></h3></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <form class="d-flex m-auto my-3 my-lg-0 flex-grow-1 mx-xl-5 px-xl-5">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-{{user.profile_color}} d-none" type="submit">Search</button>
              </form>
              <ul class="navbar-nav me-0 mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Jobs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Settings</a>
                </li>
              </ul>
              
            </div>
          </div>
        </nav> 
      </div>
    </section>

    <section class="bg-light py-3 border-bottom">
        <div class="container">
        <div class="card mt-3 mb-3">
        <div class="card-header bg-{{user.profile_color}} p-5"></div>
            <div class="card-body pb-0">
            <div class="d-flex flex-column flex-md-row bd-highlight mb-3">
                <div class="text-center text-md-start bd-highlight mb-3 me-0 mb-md-0 ms-0 ms-md-2 me-md-3">
                    {% if user.avatar %}
                    <img class="border border-white border-5" src="{{user.avatar.url}}" style="margin-top: -60px; height:200px; width: 200px; object-fit: cover; object-position: center;"/>
                    {% else %}
                    <img class="border border-white border-5" src="{% static 'img/avatar_default.jpg' %}" style="margin-top: -60px; max-width: 200px;"/>
                    {% endif %}
                    
                    <!--<img class="border border-white border-5" src="img/pp.JPG" style="margin-top: -60px; max-width: 200px;"/>-->
                </div>
                <div class="p-2 text-center text-md-start bd-highlight m-auto ms-md-0">
                <span class="d-block d-md-inline-block fs-4 fw-bold">{{user.profile_name}}</span><span class="fw-lighter fs-6 text-muted mx-2">@{{user.username}}</span>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <p class="lead mb-1 text-{{user.profile_color}}">{{user.profile_title}}</p>
                <p>{{user.profile_biography}}</p>
                {% if user.profile_location %}
                <p class="text-muted small"><i class="fas fa-map-marker-alt me-1"></i>{{user.profile_location}}</p>
                {% endif %}
                </div>
                <div class="p-2 bd-highlight ms-auto align-self-center d-none">
                <div class="row">
                    <div class="col">
                    <h6>Followers</h6>
                    <h5 class="text-muted">430</h5>
                    </div>
                    <div class="col">
                    <h6>Following</h6>
                    <h5 class="text-muted">125</h5>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>  
    </section>  

  
    <section class="footer bg-dark">
        <div class="container">
            <footer class="mt-4 py-5">          
              <div class="py-2 my-2 text-center text-md-start">
                <p class="text-muted">© 2021 Company, Inc. All rights reserved.</p>
              </div>
            </footer>
          </div>
    </section>

    


    <!-- Animate on scroll JS -->
    <script src="{% static 'user/js/aos.js' %}"></script>
    <script>
      AOS.init();
    </script>

    <!--  isScrolled Script -->

    <script>
      $(window).scroll(function () {
      if ($(window).scrollTop() >= 50) {
      $('.navbar').addClass("is-scrolled");
      } else {
      $('.navbar').removeClass("is-scrolled");
      }
      });
    </script>

    <!--  Bootstrap Bundle with Popper -->
    <script src="{% static 'user/js/bootstrap.bundle.min.js' %}"></script>

  </body>
</html>